[submodule "vendor/types/quickjs"]
	path = vendor/types/quickjs
	url = git@github.com:mgred/quickjs-types.git
[submodule "vendor/quickjs-ffi"]
	path = vendor/quickjs-ffi
	url = git@github.com:shajunxing/quickjs-ffi.git
[submodule "vendor/quickjs"]
	path = vendor/quickjs
	url = git@github.com:sax1johno/quickjs.git
[submodule "vendor/quickjs-zmq"]
	path = vendor/quickjs-zmq
	url = git@github.com:sax1johno/quickjs-zmq.git
